__Data Science Tools and Ecosystem__

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C
6. C++
7. Swift
8. HTML
9. CSS
10. PHP

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Numpy
3. Pandas
4. Tensorflow
5. Keras
6. Scikit-learn

__Below are a few examples of evaluating arithmetic expressions in Python__

In [3]:
#this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives__

* Python
* R
* SQL

__Author__

Santhosh